* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

head {
  margin-top: 32px;
}

h1 {
  text-align: center;
}

body {
  background-color: tomato;
}

a {
  text-decoration: none;
  color: white;
  margin: 8px;
}

.container {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linkAzul:hover {
  color: blue;
}

.linkAmarelo:hover {
  color: yellow;
}

.esquerda {
  padding: 32px;
  width: 350px;
  height: 700px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direita {
  padding: 32px;
  width: 700px;
  height: 700px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.image1 {
  width: 350px;
  margin-bottom: 32px;
  margin-top: 32px;
}

#tipoAzul {
  background-color: aqua;
  width: 80%;
  padding: 10px;
}

#tipoAmarelo {
  background-color: yellow;
  width: 80%;
  padding: 10px;
}
